$base-color: #BB121A;
$text-color: #D4D4D4;
//$base-color: #4460bd;

@keyframes scroll-rtl {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

#isps-reader {
    .isps_widget {
        background-color: $base-color;
        border: 1px solid #000;
        border-radius: 0.6rem;
        display: flex;
        flex-direction: row;
        font-family: 'Roboto Condensed', sans-serif;
        margin: 1rem;
        padding: 0.8rem 0.5rem;
        position: relative;
        width: 32rem;

        > * {
            height: 3rem;
        }

        .isps_freq {
            a {
                background-image: url('../images/play-icon.png');
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: contain;
                color: $text-color;
                display: block;
                font-weight: 600;
                margin-right: 0.5rem;
                padding: 1rem 1rem 1rem 3.5rem;
                text-align: center;
                text-decoration: none;

                &:hover {
                    background-image: url('../images/play-icon-hover.png');
                    color: #FFF;
                }
            }
        }

        .isps_live {
            display: flex;
            flex-direction: row;
            padding: 0 0 0 1.5rem;
            position: relative;

            i {
                display: block;
                font-size: 0.8rem;
                font-style: normal;
                font-weight: bold;
                line-height: 3rem;
                text-transform: uppercase;

                &::before {
                    aspect-ratio: 1;
                    background-color: #000;
                    border-radius: 100%;
                    content: '';
                    height: 10px;
                    left: 0.5rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .isps_live_title {
                background: #BBB;
                border-radius: 0.5rem;
                border: 1px solid #888;
                margin: 0.5rem;
                width: 15rem;
                overflow: hidden;
                padding: 0.3rem 0;

                p {
                    animation: scroll-rtl 8s infinite linear;
                    display: inline-block;
                    font-family: "Poppins", sans-serif;
                    font-size: 12px;
                    margin: 0;
                    padding-right: 2em;
                    padding-left: 100%;
                    text-shadow: 1px 1px 1px #DDD;
                    white-space: nowrap;
                }
            }

            &:hover > .isps_live_title {
                background: #FFF;

                > p {
                    animation-play-state: paused;
                }
            }
        }

        .isps_advanced_container {
            background: $base-color;
            border: 1px solid #000;
            border-radius: 0 0 0.5rem 0.5rem;
            border-top: none;
            display: none;
            height: auto;
            opacity: 0;
            padding: 0 0.5rem;
            position: absolute;
            right: -1px;
            top: 4.2rem;
            width: 32rem;
            z-index: 1000;
            transition:
                opacity 2s;

            form {
                text-align: center;

                label {
                    color: $text-color;
                    font-weight: bold;
                }

                input {
                    margin: 0 0 0 0.5rem;
                }
            }

            table {
                background: #FFF;
                border-radius: 0.5rem;
                font-size: 0.8rem;
                margin: 0.5rem 0;
                width: 100%;

                .isps_audio_stream_observed_at {
                    width: 6.5rem;
                }

                tbody > tr {
                    &:nth-child(even) {
                        background-color: #f2f2f2;
                    }

                    &:hover {
                        background-color: #CCC;
                    }

                    td {
                        padding: 0.5rem;
                    }
                }
            }

            .isps_empty_results {
                color: $text-color;
                font-weight: bold;
                text-align: center;
            }
        }

        .isps_show_advanced_label {
            background-image: url('../images/icons8-search.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            height: 3rem;
            position: absolute;
            right: 1rem;
            width: 3rem;

            i {
                background-image: url('../images/icons8-audio-wave.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                height: 12px;
                text-indent: -9999px;
                width: 12px;
                border-radius: 50%;
                left: 6px;
                padding: 8px;
                position: absolute;
                top: 5px;
            }

            &:hover {
                cursor: pointer;

                i {
                    background-image: url('../images/icons8-audio-wave.gif');
                }
            }
        }

        .isps_show_advanced_input {
            display: none;

            &:checked {
                & + .isps_advanced_container {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }
}