{% extends 'base.html.twig' %}

{% block body %}
<div
    id="isps-reader"
    data-host="http://isps.docker"
    data-sources="rdwa_die|107.5FM|https://radio.garden/listen/rdwa-fm-107-5/uRGAQP9K,rdwa_luc|101.7FM|https://live.aurafm.org/R-Dwa-LUC.m3u"
>
<!--
<div
    id="isps-reader"
    data-host="http://isps.docker"
    data-sources="rdwa_die|107.5FM|https://radio.garden/listen/rdwa-fm-107-5/uRGAQP9K,rdwa_luc|101.7FM|https://live.aurafm.org/R-Dwa-LUC.m3u,radio_blv|93.6FM|https://live.aurafm.org/RadioBLV.m3u,declic_radio|101.1FM|https://live.aurafm.org/DeclicRADIO.m3u"
>
-->
</div>
{% endblock %}