{% extends 'base.html.twig' %}

{% block body %}
<!--
<div
    id="isps-reader"
    data-host="http://isps.docker"
    data-sources="rdwa_die|107.5FM|http://live.aurafm.org:80/R-Dwa,rdwa_luc|101.7FM|http://live.aurafm.org:80/R-Dwa-LUC"
>
//-->
<div
    id="isps-reader"
    data-host="{{ app.request.getSchemeAndHttpHost() }}"
    data-sources="rdwa_die|107.5FM|http://live.aurafm.org:80/R-Dwa,rdwa_luc|101.7FM|http://live.aurafm.org:80/R-Dwa-LUC,radio_blv|93.6FM|http://live.aurafm.org:80/RadioBLV,declic_radio|101.1FM|http://live.aurafm.org:80/DeclicRADIO"
>
</div>
{% endblock %}