{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock %}

{% block body %}
<div id="isps">{{ '{{' }}message{{ '}}' }}</div>

<script src="./rdwa-broadcasted.js"></script>
{% endblock %}